<header class="site-header">
    <div class="container">

        {% if page.url contains '/posts/' or page.url contains '/about/' %}
        <h1 class="display-6">{{ localdata.siteName | default: localdata.siteName }}</h1>

        {% endif %}

        {% if page.url == '/' %}
    
        <h1 class="display-6">{{ localdata.siteName | default: localdata.siteName }}</h1>
        <h3>{{ localdata.siteDescription | default: localdata.siteDescription }}</h3>
       
        {% endif %}

    </div>
</header>

<!--
    {%- if page.url == '/' -%}
    <title>{{ localdata.siteName }}</title>
    {% else %}
    <title>{% if title %}{{ title }} &middot; {% endif %}{{ localdata.siteName }}</title>
    {% endif %}
    -->

