<header class="site-header">
    <div class="container">
      
    <!--
    <p>DEBUG: {{ page.url }}</p>
    <p>DEBUG: {{ siteinfo.baseUrl }}</p>
    -->

    {% if page.url == '/contact/' %}
      <h1>{{ siteinfo.siteName }}</h1>
      <h4>Contact</h4>    

    {% elsif page.url == '/posts/' %}
      <h1>{{ siteinfo.siteName }}</h1>
      <h4>Posts</h4>

      {% elsif page.url == '/posts/tags/' %}
        <h1>{{ siteinfo.siteName }}</h1>
        <h4>Posts > Tags</h4>
        
    
    {% elsif page.url contains '/posts/' %}
      <h1>{{ siteinfo.siteName }}</h1>
      <h4><b>Post:</b> {{ title }}</h4>

      {% elsif page.url == '/' %}
        <h1>{{ siteinfo.siteName }}</h1>
    
    
    {% else %}
      <h1>{{ siteinfo.siteName }}</h1>
      <h4>{{ title }}</h4>
    {% endif %}
    </div>
</header>

